main{
    margin:auto;
    border: 1px solid black;
    background-color: yellow; 

body {
    margin: auto;
    padding: 50px;
    background-color: rosybrown;
    padding: 0px, 200px, 0px, 200px;
}

main{
    /*border: 1px solid black;*/
    /*background-color: yellow;*/
    width: 1200px;
    height: 1200px;
    box-align: center;
}

.box1{
    display: block;
    width: 1200px;
    height: 100px;
    background-color:  lavender;
    text-align: center;
}
.box2{
    float: right;
    display: inline-block;
    width: 700px;
    height: 1100px;
    background-color: white;
}
.box3{
    float: left;
    display: inline-block;
    width: 500px;
    height: 1100px;
    background-color: cadetblue;
}
